<div class="row">
    <div class="col-lg-7">

    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header bg-secondry">
                <div class="row">
                    <div class="col-lg-6 text-white">
                        <strong>New Employee</strong>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn btn-primary"> Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="employeeName" class="form-label"> Employee Name</label>
                            <input type="text" class=" form-control" id="employeeName" placeholder="Enter employee name">
                        </div>
                        <div class="col-md-6">
                            <label for="contactNo" class="form-label"> Contact No</label>
                            <input type="text" class="form-control" id="contactNo" placeholder="Enter contact number">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <label for="emailId" class="form-label"> Email</label>
                            <input type="email" class=" form-control" id="emailId" placeholder="Enter email ">
                        </div>                  
                    </div>
                    <!-- {{parentDeptList|json}} -->
                    <div class="row">
                         <div class="col-md-6">
                             <label for="mainDeptId" class="form-label"> Main Department</label>                         
                            <select id="mainDeptId" class="form-control" [(ngModel)]="selectedDeptId" name="mainDeptId">
                            
                              <option value="" selected>-- Select main department</option>
                            <option *ngFor="let dept of parentDeptList " [value]="dept.id">
                                {{ dept.departmentName }}
                            </option>
                            </select>                          

                        </div>
                         <div class="col-md-6">
                            <label for="subDeptId" class="form-label"> Sub Department</label>
                            <select id="subDeptId" class="form-control">
                                <option value="" selected>-- Select sub department</option>
   <option *ngFor="let dept of parentDeptList " [value]="dept.id">
                                {{ dept.departmentName }}
                            </option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class=" form-control" id="password" placeholder="Enter password">
                        </div>
                        <div class="col-md-6">
                            <label for="role" class="form-label"> Role</label>
                            <input type="text" class="form-control" id="role" placeholder="Enter role">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender">
                            <option value="">-- Select Gender</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning mt-3"> Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
