<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header bg-secondry">
                <div class="row">
                    <div class="col-lg-6 text-black">
                        <strong>All Employee</strong>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn btn-warning"> Add Employee</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-borderd">
                    <thead>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <!-- @for(item of allEmployeeDetails;track $index){
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.employeeName}}</td>
                                <td>{{item.contactNo}}</td>
                                <td>{{item.emailId}}</td>
                                <td>{{item.deptId}}</td>
                                <td></td>
                            </tr>
                        }                      --> 
                            <tr *ngFor="let item of allEmployeeDetails; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.name}}</td>
                                <td>{{ item.contact }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.departmentId }}</td>
                                <td>
                                    <button class="btn btn-success" (click)="editEmployee(item)">Edit</button>
                                    <br><br>
                                    <button class="btn btn-danger" (click)="deleteData(item.id)">Delete</button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header bg-secondry">
                <div class="row">
                    <div class="col-lg-6 text-white">
                        <strong>New Employee</strong>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn btn-primary"> Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="employeeName" class="form-label"> Employee Name</label>
                            <input type="text" class=" form-control" name="employeeName" [(ngModel)]="employeeObj.employeeName" id="employeeName" placeholder="Enter employee name">
                        </div>
                        <div class="col-md-6">
                            <label for="contactNo" class="form-label"> Contact No</label>
                            <input type="text" class="form-control" [(ngModel)]="employeeObj.contactNo" name="contactNo" id="contactNo" placeholder="Enter contact number">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <label for="emailId" class="form-label"> Email</label>
                            <input type="email" class=" form-control" [(ngModel)]="employeeObj.emailId" name="emailId" id="emailId" placeholder="Enter email ">
                        </div>                  
                    </div>
                    <!-- {{parentDeptList|json}} -->
                    <div class="row">
                         <div class="col-md-6">
                             <label for="mainDeptId" class="form-label"> Main Department</label>                         
                            <select id="mainDeptId" class="form-control" [(ngModel)]="mainDeptId" name="mainDeptId" (change)="getChildDept()">
                            
                              <option value="" selected>-- Select main department</option>
                            <option *ngFor="let dept of parentDeptList " [value]="dept.id">
                                {{ dept.departmentName }}
                            </option>
                            </select>                          
                        </div>
                         <div class="col-md-6">
                            <label for="subDeptId" class="form-label"> Sub Department</label>
                            <select id="subDeptId" class="form-control" [(ngModel)]="employeeObj.deptId" name="deptId">
                                <option value="0" selected>-- Select sub department</option>
                                <option *ngFor="let dept of childDeptList " [value]="dept.id">
                                {{ dept.childDepartmentName }}
                            </option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class=" form-control" [(ngModel)]="employeeObj.password" name="password" id="password" placeholder="Enter password">
                        </div>
                        <!-- <div class="col-md-6">
                            <label for="role" class="form-label"> Role</label>
                            <input type="text" class="form-control" id="role" placeholder="Enter role">
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> Select Gender</div>
                                <input type="radio" value="male" name="gender" [(ngModel)]="employeeObj.gender"/>Male
                                <input type="radio" value="female" name="gender" [(ngModel)]="employeeObj.gender"/> Female
                            </div>
                    </div>
                     <button type="button" *ngIf="employeeObj.employeeId == 0" (click)="onSaveEmployee();" class="btn btn-warning mt-3"> Submit</button>
                    <button type="button"  *ngIf="employeeObj.employeeId != 0" (click)="updateData();" class="btn btn-primary mt-3"> Update</button>
                </form>
            </div>
        </div>
    </div>

</div>
