<div class="row">
    <div class="col-lg-12" *ngIf="currentView === 'List'">
        <div class="card">
             <div class="card-header bg-success">
                <div class="row">
                    <div class="col-lg-6 text-black">
                        <strong>Project List</strong>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn btn-primary" (click)="currentView='Create'"> Create New Project</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Project Name</th>
                            <th>Client Name</th>
                            <th>Start Date</th>
                            <th>Lead By Employee</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of projectData; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.projectName}}</td>
                                <td>{{ item.clientName }}</td>
                                <td>{{ item.startDate | date:'dd-MMMM-yy' }}</td>
                                <td>{{ item.leadByEmpId}}</td>
                                <td>
                                     <button class="btn btn-success" (click)="editProject(item)">Edit</button> 
                                 
                                     <button class="btn btn-danger" (click)="deleteProject(item.projectId)">Delete</button> 
                                      <button class="btn btn-primary" (click)="onAddEmployee(item.projectId)">Employees</button> 
                                </td>
                            </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" *ngIf="currentView !== 'List'">
        <div class="card">
             <div class="card-header bg-success">
                <div class="row">
                    <div class="col-lg-6 text-black">
                        <strong>New Project </strong>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn btn-primary" (click)="currentView='List'"> Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form  class="mb-4" [formGroup]="projectForm" (ngSubmit)="saveProject()">               
                 <div class="row">
                    <div class="col-lg-6">
                        <label for="projectName" class="form-label"> Project Name</label>
                        <input type="text" formControlName="projectName"  class="form-control" id="projectName" placeholder="Enter project Name ">
                    </div>
                    <div class="col-lg-6">
                        <label for="clientName" class="form-label"> Client Name</label>
                        <input type="text" formControlName="clientName" class="form-control" id="clientName" placeholder="Enter client name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="contactPerson" class="form-label"> Start Date</label>
                        <input type="date" formControlName="startDate" class="form-control" id="startDate" placeholder="Enter date"> 
                    </div>
                    <!-- {{employeeData|json}} -->
                    <div class="col-lg-6">
                        <label for="leadByEmpId" class="form-label"> Lead By Employee ID</label>                     
                        <select formControlName="leadByEmpId" id="leadByEmpId"  class="form-select">
                            <option value="">Select Employee</option>
                            <!-- <option *ngFor="let item of empData$ |async" [value]="item.employeeId" >{{item.employeeName}}</option> -->
                             <option *ngFor="let item of employeeData" [value]="item.id"> {{ item.name }}</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="contactPerson" class="form-label"> Contact Person</label>
                        <input type="text" formControlName="contactPerson" class="form-control" id="contactPerson" placeholder="Enter contact person">
                    </div>
                    <div class="col-lg-6">
                        <label for="contactNoProject" class="form-label"> Contact No</label>
                        <input type="text" formControlName="contactNo" class="form-control" id="contactNoProject" placeholder="Enter contact number projects">
                    </div>
                </div>
                <div class="row">                  
                    <div class="col-lg-6">
                        <label for="emailId" class="form-label"> Email ID</label>
                        <input type="text" formControlName="emailId" class="form-control" id="emailId" placeholder="Enter email id">
                    </div>
                </div>
                <br>
                <button  type="submit" class="btn btn-primary" > Save</button>
                </form >
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="projectModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Employee</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="hideModal()"></button>
      </div>

      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="hideModal()" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>